body {
    background: url("background.jpeg") no-repeat;
    background-size: cover;
	margin: 0;
}

h1 {
	margin: 10px 0 0 0;
	font-size: 38px;
	font-weight: bold;
	color: #2A25FA;
}

 h2, h4, h5, h6 {
	color: white;
	margin: 0 0 10px 0;
	font-size: 36px;
}

h3 {
	color: #0D5BA3;
	margin: 10px 0 0 0;
	font-size: 32px;
}

h4 {
	font-size: 30px;
}

#container {
    text-align: center;
	height: calc(100vh - 30px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

#search_div {
	height: 50px;
	width: 60%;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	display: flex;
	align-items: center;
}

#google {
	width: 72px;
	flex-shrink: 0;
}

pre {
	margin: 10px 0;
	color: #ffffff;
	font: 30px "DejaVu", Serif;
	font-weight: bold;
}

#search {
	height: 95%;
	width: 85%;
	border: none;
	font-size: 24px;
	color: gray;
}

#search:focus{
	outline: none;
}

#temp {
	color: #F6FB0F;
}

#direction {
	height: 28px;
}
